@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("Máy phân loại màu (máy tách màu) Trung Thụy - MayPhanloai.com");
    Html.AddMetaDescriptionParts("Máy phân loại (máy tách màu) trà, gạo, cà phê, vừng & các loại hạt bằng cảm biến quang học CCD. Hệ thống điều khiển thông minh bằng máy tính bảng. Độ chính xác & năng suất cao. Đa dạng, phong phú các chủng loại");
    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body">
        @Html.Widget("home_page_top")
        @Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
        @Html.Widget("home_page_before_categories")
        @Html.Action("HomepageCategories", "Catalog")
        @Html.Widget("home_page_before_products")
        @Html.Action("HomepageProducts", "Product")
        @Html.Widget("home_page_before_best_sellers")
        @Html.Action("HomepageBestSellers", "Product")
        @Html.Widget("home_page_before_news")
        @Html.Action("HomePageNews", "News")
        @Html.Widget("home_page_before_poll")
        @Html.Action("HomePagePolls", "Poll")
        @Html.Widget("home_page_bottom")
    </div>
</div>
y